*{
    box-sizing: border-box;
    margin:0; 
    padding:0;
    
}


body{
   
    display: flex;
    flex-direction: column;
    height: 100%;
    width:100%;

  
   
    
}

.headimg{
    background-image: url('../assets/presentation.jpg');
    background-size: cover;
    padding: 5px;
    background-repeat: no-repeat;
    min-height: 700px;
    
    
}
nav{
    
    margin: 5px; 
    text-align: center;    
    vertical-align: middle;
    padding:10px;
float: right;
margin-right: 80px;
margin-top: 15px;
padding-right: 20px;



}
nav ul li {display:inline;
   
}
nav ul li a{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size:large;
    text-decoration: none;
    color:white;
    padding:5px;
   
}

.seLogo{
    float: left;
}

.headContent{
    padding-top: 300px;
}


.apply{
    background-color: #0d0;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom:10px;
    font-size: .9rem;
    font-weight: bolder;
    color: white;
    border: none;
    margin-left: 10px;
    
}
h1 strong{
    color: white;

    font-size: 55px;
    letter-spacing: 0px;
    font-family: 'Times New Roman', Times, serif;
    
}
.phead{
    color: white;
    padding-left: 130px;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    font-style: normal;
    font-family: sans-serif;
    

}

.learn{
    background-color: #0d0;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom:10px;
    font-size: .9rem;
    font-weight: bolder;
    color: white;
    border: none;
    margin-left: 130px;
    margin-top: 20px;
}


.secDiv{
    display: flex;
    justify-content: center;
  
    padding: 30px;
    text-align: center;
    flex-direction: row;
    font-family: sans-serif;
    min-height: 300px;
   
    
}

.employ{
    float: left;
    padding-left: 50px;
    padding-right: 50px;
    flex-direction: row;
    justify-content: center;

}
.youth{
    float: left;
    padding-left: 50px;
    padding-right: 50px;
    flex-direction: row;
    justify-content: center;
}
    
.global{
    float: left;
    padding-left: 50px;
    padding-right: 50px;
    flex-direction: row;
    justify-content: center;
}
.green{
    color: chartreuse;
    font-size: 60px;
    font-weight: bold;
}
.psecDiv{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}






.imgThird{
    float: left;
    margin-left: 80px;
}

.thirdDiv{
    margin: 20px;
    min-height: 350px;
}
.pThird{
    padding-left: 80px;
    font-size: 50px;
    padding-left: 600px;
    font-family: sans-serif;
 
    
}
.pThirdd{
    font-size: 25px;
    padding-left: 650px;
    font-family: sans-serif;
}

.aThird{
   
      color: chartreuse;
  }



.fourDiv{
    background-color: #0d0;
   padding-top: 50px;
   padding-bottom: 30px;
   min-height: 350px;
   
}
.pfour{
    text-align: center;
    font-size: 50px;
    color: white;
    font-family: sans-serif;
}

.imgfour{
    text-align: center;
}



.fiveDiv{
    margin: 20px;
    padding-top: 50px;
    font-family: sans-serif;
}

.sixDiv{
   
    padding-top: 30px;
      text-align: center;
      font-family: sans-serif;
     
  
  }
  .pSix{
      text-align: center;
      font-size: 30px;
      
  }
  
  .pSixx{
      font-size: 20px;
      
  }
  
  .sevenDiv{
      text-align: center;
  }
  
  .sevenDiv{
      text-align: center;
      font-size: 40px;
      font-weight: bold;
      font-family: sans-serif;
      background-color: rgb(229, 229, 229);
      padding-top: 30px;
      padding-bottom: 30px;
  }
  
  .imgSeven{
      padding: 5px;
      padding-top: 30px;
  }
  
  .eightDiv{
      text-align: center;
      font-size: 40px;
      font-weight: bold;
      font-family: sans-serif;
      padding-top: 30px;
      padding-bottom: 50px;
     
      
      
  }
  
  .imgEight{
      padding: 30px;
      padding-top: 30px;
      
  }
  
  hr{
      margin-top: 30px;
      margin-left: 60px;
      margin-right: 60px;
  }
  
  
  .nineDiv{
      padding-top: 10px;
      text-align: center;
      font-size: 40px;
      font-weight: bold;
      font-family: sans-serif;
      padding-bottom: 10px;
      
  }
  
  .imgNine img{
      display: inline-block;
      margin: 25px 10px;
      padding: 5px;
     
  }
  
  .tenDiv{
      padding-top: 30px;
      text-align: center;
      font-family: sans-serif;
      background-color: rgb(229, 229, 229);
  }
  
  .pTen{
     
      text-align: center;
      font-size: 35px;
      padding-bottom: 20px;
  }
  
  .pTenn{
      font-size: 40px;
      font-weight: lighter;
     
  }
  
  .subscribe{    
      background-color: black;
      border-radius: 5px;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 15px;
      padding-bottom:15px;
      font-size: 20px;
     font-family: sans-serif;
      color: white;
      border: none;
      margin-bottom: 30px;
      
  }

  .footer{
    font-size: 18px;
    height: 100px;
   padding: 40px;
   padding-left: 80px;
   padding-right: 80px;
   background-color: black;
   color: white;
   font-weight: lighter;

    
}

.aFooter{
    color: #0d0;
    float: left;
    
}


.copyright{
    float: left;
    text-align: center;
    padding-left: 180px;
    font-weight: bold;
}

.icons{
    float: right;
    font-size: 25px;
    text-align: center;

    
}

@media only screen and (max-width: 800px) {
    body, .headimg,
    .secDiv,.thirdDiv,.fourDiv , .fiveDiv,.sixDiv,.sevenDiv,.eightDiv,.nineDiv,.tenDiv,.footer{
      flex-direction: column;
      justify-content: center;
    }
  }